header {
  color: var(--color-text);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-l);
  background-color: var(--color-secondary);
  clip-path: url(#header-clip);
}
