header {
  height: 120px;
  width: 100%;
}

main {
  width: 100%;
  height: calc(100dvh - 120px);
  display: flex;
  justify-content: space-between;

  .content-left {
    height: 50dvh;
    width: 50%;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--spacing-m);

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      gap: var(--spacing-m);
      color: var(--color-text);

      li {
        width: fit-content;
        height: auto;
        padding: var(--spacing-s) var(--spacing-m);
        border: 1px solid var(--color-text);
      }
    }
  }
}

p {
  color: var(--color-text);
}
