<header class="content-header">
    <span class="logo frozen-glass">Logo</span>
    <nav class="frozen-glass">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
        </ul>
    </nav>
</header>
<h1>WELCOME</h1>
<main>
  <p class="content-left frozen-glass">This is the content component.</p>
  <aside>
    <button class="click-btn">Click me</button>
    <p class="frozen-glass">Additional information can go here.</p>
    <ul>
        <li class="frozen-glass">Text</li>
        <li class="frozen-glass">Text2</li>
        <li class="frozen-glass">Text3</li>
    </ul>
  </aside>
</main>