main {
    background-color: var(--color-background);
    width: 100%;
    height: 100dvh;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    padding: var(--spacing-l);
}