/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: inherit;
    }
    button {
        cursor: pointer;
        border: none;
        font-family: inherit;
    }
    ul {
        list-style: none;
    }
}

/* Colors */
:root {
    // --color-primary: #1f2f40;
    // --color-secondary: #101d26;
    // --color-background: #f8500a;
    // --color-text: #dde2e5;

    --color-primary: #414648;
    --color-secondary: #151a17;
    --color-background: #63df0f;
    --color-text: #e2e1dc;
}

/* Padding and Margins */
:root {
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
}

/* Typography */
/* cinzel-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/cinzel-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cinzel-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/cinzel-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cinzel-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/cinzel-v26-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --text-size-h1: 72px;
    --text-size-h2: 36px; 
    --text-size-h3: 24px;
    --text-size-base: 24px;
    --text-size-s: 16px;
}

:root {
    font-family: 'Cinzel', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    line-height: 1.5;

    .content-wrapper {
        width: 100%;
        max-width: 1480px;
        height: fit-content;
        margin: 0 auto;
        padding: 0 var(--spacing-s);
    }

    .frozen-glass {
        width: fit-content;
        height: fit-content;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        padding: var(--spacing-m);
    }
}